@font-face {
    font-family: 'Cheri';
    src: url('fonts/Cheri.eot');
    src: url('fonts/Cheri.eot?#iefix') format('embedded-opentype'),
        url('fonts/Cheri.woff2') format('woff2'),
        url('fonts/Cheri.woff') format('woff'),
        url('fonts/Cheri.ttf') format('truetype'),
        url('fonts/Cheri.svg#Cheri') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: content-box;
}

html {
    background: transparent url('background-grid.png') left top repeat scroll;
    font-family: 'Cheri';
}

body {
    margin: 0;
    padding: 20px;
}



.one {
    width: 100px;
    height: 100px;

    /* border-color: red;
    border-style: groove;
    border-width: 2px 4px 8px 1px; */

    border: groove red;
    border-width: 2px 10px 20px 10px;

    border-radius: 50%;

    text-align: center;
    line-height: 100px;

    box-shadow: 10px 5px 5px black;
}

