* {
    box-sizing: content-box;
}

html {
    background: transparent url('background-grid.png') left top repeat scroll;
}

body {
    margin: 0;
    padding: 20px;
}

.one {
    border: 2px solid blue;
    height: 100px;
    width: 100px;

    position: relative;
    top: 200px;
    left: 100px;
}

.two {
    background-color: rgb(217, 217, 255);
    position: relative;
    bottom: 20px;
}

.three_container {
    position: relative;
    height: 200px;
    width: 200px;
    border: 2px solid red;
}

.three {
    border: 2px solid orange;
    background-color: rgba(255, 165, 0, 0.5);
    height: 100px;
    width: 100px;

    position: absolute;
    top: -50px;
    right: 0;
}

.four {
    border: 2px solid rgb(128, 0, 128);
    background-color: rgba(128, 0, 128, 0.5);
    height: 100px;
    width: 100px;

    position: fixed;
    top: 100px;
    left: 100px;
}


.five {
    background-color: red;
    height: 100px;
    width: 100px;

    position: absolute;
    left: 0;
    top: 0;
    
    z-index: 1;
}

.six {
    background-color: blue;
    height: 100px;
    width: 100px;

    position: absolute;
    left: 50px;
    top: 50px;

    z-index: 1000;
}