* {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #444444;
    color: white;
    padding: 2em;
}

main {
    flex-grow: 1;

    display: flex;
}

nav {
    background-color: orangered;
    color: white;
    padding: 2em;
}

article {
    color: #444444;
    padding: 2em 4em;
}

article h1 {
    font-weight: 900;
    margin-top: 0;
    border-bottom: 3px solid lightgray;
}

footer {
    background-color: gray;
    color: white;
    padding: 2em;
}