body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;

    background: transparent url('https://classes.codingbootcamp.cz/assets/classes/860/dune-bg.jpg') center/cover no-repeat scroll;

    font-family: 'Quicksand', sans-serif;
}

.bg {
    flex-grow: 1;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top,
.bottom {
    font-size: 2em;
    color: white;
    padding: 1em;
}

.top {
    align-self: flex-end;
    text-align: right;
}

.bottom {
    .large {
        font-size: 2em;
    }
}